.menuList {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */

  list-style: none;
  

  color: #eee;
}

.menuList li{
  text-align: center;
  /* background-color: red; */
  
  margin: 1rem 2rem;
}

.menuList li>a:link, .menuList li>a:visited{
  display: flex;
  align-items: center;
  margin: 0 5px;

  text-decoration: none;
  color: inherit;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.menuList li>a:hover, .menuList li>a:active, .menuList li.active{
  background-color: #000;
  color: #e3fafc;
}

